# Ignore all images
*.jpg
*.jpeg
*.png

# Igore all .pyc files
*.pyc

# Ignore workspace.xml
.idea/*

# Ignore old_model
old_model/*

# Ignore all in model_runs
model/architecture_search/model_runs/*
model/hyperparameter_tuning/model_runs/*
model/variable_testing/model_runs/*

# Ignore all .h5 files
*.h5
